* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #EC645B;
  font-family: monospace;
}

#container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 230px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 85px;
  font-size: 40px;
  padding: 4px 20px;
  color: #EC645B;
  font-weight: bold;
}

#counter {
  font-size: 65px;
}

.slideRight {
  animation: slideRight 1s
}

.slideLeft {
  animation: slideLeft 1s
}


.fas {
  color: rgba(236, 101, 91, 0.5);
}



.fa-chevron-left:active {
  transform: translateX(-5px);
  color:#EC645B;
}
.fa-chevron-right:active {
  transform: translateX(5px);
  color:#EC645B;
}

@keyframes slideRight {
  0% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(180px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(-180px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
  }
}